nodes_oct1a/flows.json
[
    {
        "id": "69ef06e3f2f20e4f",
        "type": "tab",
        "label": "Flow IoT Sensor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "793d5bc48a5a7845",
        "type": "mqtt in",
        "z": "69ef06e3f2f20e4f",
        "name": "Suhu",
        "topic": "sensor/suhu",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqttbroker",
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "7a0e805a4a36fb01",
                "fc75fc5ca9c3e061",
                "aa22e293095ba098",
                "f69b9d7f2f11abe6"
            ]
        ]
    },
    {
        "id": "8f26e8ff7b8d62d4",
        "type": "mqtt in",
        "z": "69ef06e3f2f20e4f",
        "name": "Kelembapan",
        "topic": "sensor/kelembapan",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqttbroker",
        "inputs": 0,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "91c438dea614d5d3",
                "b47f188a1e1f5627",
                "75cdafdf6d6048ab",
                "f69b9d7f2f11abe6"
            ]
        ]
    },
    {
        "id": "f69b9d7f2f11abe6",
        "type": "join",
        "z": "69ef06e3f2f20e4f",
        "name": "Gabung Suhu+Kelembapan",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "x": 460,
        "y": 190,
        "wires": [
            [
                "35933f479f3ba8c8"
            ]
        ]
    },
    {
        "id": "35933f479f3ba8c8",
        "type": "function",
        "z": "69ef06e3f2f20e4f",
        "name": "SQL Insert",
        "func": "let suhu = parseFloat(msg.payload[\"sensor/suhu\"]);\nlet kelembapan = parseFloat(msg.payload[\"sensor/kelembapan\"]);\n\nmsg.topic = \"INSERT INTO data_sensor (suhu, kelembapan) VALUES (?, ?)\";\nmsg.payload = [suhu, kelembapan];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 200,
        "wires": [
            [
                "14e167151bb3a6f3"
            ]
        ]
    },
    {
        "id": "14e167151bb3a6f3",
        "type": "mysql",
        "z": "69ef06e3f2f20e4f",
        "mydb": "642b4942200ee1ad",
        "name": "MySQL Insert Data",
        "x": 950,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "f891b88e77624d7d",
        "type": "inject",
        "z": "69ef06e3f2f20e4f",
        "name": "Ambil Data Historis",
        "props": [],
        "repeat": "30",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "x": 180,
        "y": 360,
        "wires": [
            [
                "6f502bed7821fc41"
            ]
        ]
    },
    {
        "id": "6f502bed7821fc41",
        "type": "function",
        "z": "69ef06e3f2f20e4f",
        "name": "SQL Select Data Sensor",
        "func": "msg.topic = \"SELECT waktu, suhu, kelembapan FROM data_sensor ORDER BY waktu DESC LIMIT 20\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 380,
        "wires": [
            [
                "f523aa436139bc02"
            ]
        ]
    },
    {
        "id": "b4e04281747f986a",
        "type": "function",
        "z": "69ef06e3f2f20e4f",
        "name": "Format Chart",
        "func": "let rows = msg.payload;\n\nif (!Array.isArray(rows)) {\n    node.warn(\"Payload bukan array, mungkin query gagal atau tabel kosong.\");\n    rows = [];\n}\n\nlet suhuSeries = [];\nlet kelembapanSeries = [];\n\nrows.slice().reverse().forEach(r => {\n    if (r && r.waktu) {\n        suhuSeries.push({ x: r.waktu, y: r.suhu });\n        kelembapanSeries.push({ x: r.waktu, y: r.kelembapan });\n    }\n});\n\nmsg.payload = [\n    {\n        series: [\"Suhu\", \"Kelembapan\"],\n        data: [suhuSeries, kelembapanSeries],\n        labels: []\n    }\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 380,
        "wires": [
            [
                "34f02c6c93d2504e"
            ]
        ]
    },
    {
        "id": "7a0e805a4a36fb01",
        "type": "ui_gauge",
        "z": "69ef06e3f2f20e4f",
        "name": "Gauge Suhu",
        "group": "91b4a31d4582197a",
        "order": 1,
        "width": 12,
        "height": 5,
        "gtype": "gage",
        "title": "Suhu (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "x": 430,
        "y": 60,
        "wires": []
    },
    {
        "id": "91c438dea614d5d3",
        "type": "ui_gauge",
        "z": "69ef06e3f2f20e4f",
        "name": "Gauge Kelembapan",
        "group": "91b4a31d4582197a",
        "order": 2,
        "width": 12,
        "height": 5,
        "gtype": "gage",
        "title": "Kelembapan (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#1f77b4",
            "#00b500",
            "#ca3838"
        ],
        "x": 460,
        "y": 120,
        "wires": []
    },
    {
        "id": "fc75fc5ca9c3e061",
        "type": "ui_chart",
        "z": "69ef06e3f2f20e4f",
        "name": "Chart Suhu Realtime",
        "group": "91b4a31d4582197a",
        "order": 6,
        "width": 24,
        "height": 9,
        "label": "Suhu Realtime",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Belum ada data",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "outputs": 1,
        "x": 760,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b47f188a1e1f5627",
        "type": "ui_chart",
        "z": "69ef06e3f2f20e4f",
        "name": "Chart Kelembapan Realtime",
        "group": "91b4a31d4582197a",
        "order": 10,
        "width": 24,
        "height": 9,
        "label": "Kelembapan Realtime",
        "chartType": "line",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Belum ada data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "outputs": 1,
        "x": 760,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "aa22e293095ba098",
        "type": "ui_text",
        "z": "69ef06e3f2f20e4f",
        "group": "91b4a31d4582197a",
        "order": 16,
        "width": 12,
        "height": 1,
        "label": "Suhu Sekarang",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "75cdafdf6d6048ab",
        "type": "ui_text",
        "z": "69ef06e3f2f20e4f",
        "group": "91b4a31d4582197a",
        "order": 17,
        "width": 12,
        "height": 1,
        "label": "Kelembapan Sekarang",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "x": 510,
        "y": 310,
        "wires": []
    },
    {
        "id": "f523aa436139bc02",
        "type": "mysql",
        "z": "69ef06e3f2f20e4f",
        "mydb": "642b4942200ee1ad",
        "name": "MySQL Select Data",
        "x": 710,
        "y": 380,
        "wires": [
            [
                "b4e04281747f986a"
            ]
        ]
    },
    {
        "id": "34f02c6c93d2504e",
        "type": "ui_chart",
        "z": "69ef06e3f2f20e4f",
        "name": "Chart Historis DB",
        "group": "91b4a31d4582197a",
        "order": 14,
        "width": 24,
        "height": 9,
        "label": "Data Historis MySQL",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Belum ada data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "0",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e74c3c",
            "#3498db",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000",
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": true,
        "className": "",
        "x": 1110,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "65705c660a350388",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 3,
        "width": 24,
        "height": 1
    },
    {
        "id": "5069e6347dff5cd4",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 4,
        "width": 24,
        "height": 1
    },
    {
        "id": "791cf14ec34ac33a",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 5,
        "width": 24,
        "height": 1
    },
    {
        "id": "ea3493251cf3834b",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 7,
        "width": 24,
        "height": 1
    },
    {
        "id": "1f12c5fcde4891b7",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 8,
        "width": 24,
        "height": 1
    },
    {
        "id": "e1c3e7639da2c996",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 9,
        "width": 24,
        "height": 1
    },
    {
        "id": "60ce61cec412627d",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 11,
        "width": 24,
        "height": 1
    },
    {
        "id": "2117a258f07fe1b1",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 12,
        "width": 24,
        "height": 1
    },
    {
        "id": "3481e6838b4d2ed7",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 13,
        "width": 24,
        "height": 1
    },
    {
        "id": "64dd2ce24e4186b8",
        "type": "ui_spacer",
        "z": "69ef06e3f2f20e4f",
        "name": "spacer",
        "group": "91b4a31d4582197a",
        "order": 15,
        "width": 24,
        "height": 1
    },
    {
        "id": "mqttbroker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "10.184.26.186",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "642b4942200ee1ad",
        "type": "MySQLdatabase",
        "name": "db_mqtt",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "db_mqtt",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "91b4a31d4582197a",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "35da256aea17bcc5",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false
    },
    {
        "id": "35da256aea17bcc5",
        "type": "ui_tab",
        "name": "IoT Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7ad6209fd5790acd",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-mysql": "2.0.0",
            "node-red-dashboard": "3.6.6"
        }
    }
]